html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f7f7f2;
}

h1 {
    padding: 20px;
    color: #f7f7f7;
    font-size: 100px;
    text-align: center;
}


h2 {
    color: #914d76;
    font-size: 30px;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: lowercase;
}

a {
    text-decoration: none;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

p {
    max-width: 900px;
    margin: 30px auto;
    line-height: 1.8;
    font-size: 18px;
    color: #1e090d;
    background-color: #f7f7f2;
    line-height: 1.2;
}

a:link {
    color: #8e83ec;
}

a:visited {
    color: #914d76;
}

a:hover {
    color: #73b824;
}

footer {
    text-align: center;
    font-size: 15px;
    color: #69353f;
}

.indent {
    margin-left: 60px;
}

/* Header */
.header {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #914d76;
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: lowercase;
    font-weight: 500;
}

.header li {
    display: inline-block;
    padding: 10px;
}

.header a {
    color: #d4f2db;
}

a.home {
    color: #cef7a0;
}

/* Banner Section */
.banner {
    margin-top: 74px;
    padding: 60px 0 60px 0;
    word-spacing: 0.5em;
    background-color: #cef7a0;
}

.banner p {
    color: #69353f;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-size: 65px;
    text-align: center;
}
